img{
    width: 100%;
    display: block;
    object-fit: cover;
 }


.contact__container____container{
    box-shadow: inset 0 0 3rem rgba(0,0,0,0.5);
    background: rgb(180, 182, 180);
    padding: 4rem;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 4rem;
    height: 50rem;
    margin:7rem auto;
    border-radius: 1rem;
}


/*aside form*/
.contact__aside{
    background: var(--black);
    padding:3rem;
    border-radius: 1rem;
    position: relative;
    bottom: 10rem;
}

.aside__image{
    width: 100%;
    margin-bottom: 2rem;
    
}

.contact__aside h1{
    text-align: left;
    margin-bottom: 1rem ;
    color: var(--white);
}

.contact__aside h3{
    color:var(--yellow);
}

.contact__aside p{
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: var(--white);
}

.contact__aside .tom{
    color: var(--yellow);
    font-size: 1.2rem;
}

.contact__aside .jerry{
    color: var(--white);
    font-size: 1.2rem;
}
.contact__aside a{
    color: var(--yellow);
}

.contact__details{
    display: grid;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}

.contact__details li{
    display:flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}



/*form*/


.contact__form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-right: 4rem;
}

.form__name{
    display: flex;
    gap: 1.2rem;

}

.contact__form input[type="text"]{
    width: 50%;
   

}
input,
textarea{
    width:100%;
    padding: 1rem;
    background: var(--white);
    color: var(--color-white);
    border-radius: 27px;
}

.contact__form .btn{
    width: max-content;
    margin-top: 1rem;
    cursor: pointer;
    border-radius: 11px;
}


/*media tablets*/
@media screen and (max-width: 1024px){
    .contact{
        /*padding-bottom: 0;*/
    }
    .contact__container____container{
        gap: 1.5rem;
        margin-top: 3rem;
        height: auto;
        padding: 1.5rem;
    }

    .contact__aside{
        width:auto;
        padding: 1.5rem;
        bottom: 0;
    }
    .contact__form{
        align-self: center;
        margin-right: 1.5rem;
    }
}


/*phones*/

@media screen and (max-width:600px){
    .contact__container____container{
        grid-template-columns: 1fr;
        gap: 3rem;
        margin-top: 0;
        padding: 0;
    }

    .contact__form{
        margin: 0 1.5rem 3rem;

    }
    .form__name{
        flex-direction: column;
    }
    .form__name input[type="text"]{
        width:100%;
    }
     
}