

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,200;1,600&display=swap');


:root{
    --yellow:#f5bf23;
    --black: #111;
    --white: #fff;
    --light-color: #666;
    --light-bg: #eee;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --border:.1rem solid rgba(0,0,0,.3);
    
    --container____container-width-lg: 80%;
    --container____container-width-md: 90%;
    --container____container-width-sm: 94%;

    --transition: all 400ms ease;

}



*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;




    font-family: 'Poppins', sans-serif;
}

.container____container{
    width: var(--container____container-width-lg);
    margin:0 auto;
 }

 
 .container{
    width: var(--container-width-lg);
    margin:0 auto;
 }

 a{
    color:var(--color-white);
    text-decoration: none;
    list-style: none;
 }

@mixin grid($val){
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 2rem;
}

@mixin titleText($titleSize){
    font-size: $titleSize;
    color: var(--black);
    text-transform: capitalize;
}



@mixin graphText($graphSize){
    font-size: $graphSize;
    color: var(--light-color);
    line-height: 1.5;
}


@mixin iconsBox() {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    background: var(--light-bg);
    color: var(--black);
    cursor:pointer;
    text-align: center;


    &:hover{
        background: var(--black);
        color: var(--white);
    }
}





html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;

    &::-webkit-scrollbar{
        width:1rem;
    }

    &::-webkit-scrollbar-track{
       background: transparent;
    }

    &::-webkit-scrollbar-thumb{
        background: var(--yellow);
    }
}

/*
section{
    padding:5rem 10%;
}*/


.heading{

    font-size: 3.4rem;
    color: var(--black);
    text-transform: capitalize;
    margin-bottom: 3rem;
    padding-left: 1rem;
    border-left: 1rem solid var(--yellow);
}

.collo{
    border-right: 1rem solid var(--yellow);
}


.btn{
    display:inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background: var(--black);
    color: var(--white);
    cursor: pointer;
    font-size: 1.7rem;
    text-transform: capitalize;
    transition:.2s linear;
    border: 1px solid var(--yellow);
    


    &:hover{
        background: var(--yellow);
        color:var(--black);
    }
}



@keyframes fadeIn{
    0%{
        top:50%;
        opacity:0;
    }
}

.header{
    position: sticky;
    top:0;
    left:0;
    right:0;
    box-shadow: var(--box-shadow);
    padding:1.5rem 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background: var(--white);

    .logo{
        /*@include titleText(2.5rem);*/

        font-size: 2.5rem;
        color: var(--black);
        text-transform: capitalize;

        span{
            color:var(--yellow);
        }
    }

    .navbar a{
          /*@include titleText(2rem);*/

          font-size: 2rem;
          color: var(--black);
          text-transform: capitalize;
          margin:0 1rem;

    }

    .navbar a:hover{
        color:var(--yellow);
    }
    .icons div {
        /*@include iconsBox();*/

        height: 5rem;
        width: 5rem;
        line-height: 5rem;
        font-size: 2rem;
        background: var(--light-bg);
        color: var(--black);
        cursor:pointer;
        text-align: center;
    
    
     

        margin-left: .3rem;
    }

    .icons div:hover{
        
            background: var(--black);
            color: var(--white);
        
    }

    #menu-btn{
        display: none;
    }

    .search-form{
        position: absolute;
        top:120%; left:50%;
        transform: translateX(-50%);
        width: 70rem;
        background: var(--white);
        box-shadow: var(--box-shadow);
        padding: 1rem;
        display:none;
        align-items: center;
        gap: 1rem;
        animation: fadeIn .2s linear;

        &.active{
            display: flex;
        }


        input{
            width: 100%;
            padding: 1.2rem 1.4rem;
            background: var(--light-bg);
            font-size: 1.6rem;
            color: var(--light-color);
        }

        label{
            font-size: 2.5rem;
            color: var(--black);
            cursor: pointer;
            margin:0 1rem;


            &:hover{
                color: var(--yellow);
            }
        }

    }

    .login-form{
        position: absolute;
        top:120%; left:50%;
        transform: translateX(-50%);
        width: 40rem;
        background: var(--white);
        box-shadow: var(--box-shadow);
        padding:2rem;
        text-align: center;
        animation: fadeIn .2s linear;
        display: none;

        &.active{
            display: block;
        }


        h3{
            text-transform: uppercase;
            font-size: 3rem;
            color: var(--black);
            text-transform: capitalize;
            padding-bottom: 1rem;

        }

        .box{
            width:100%;
            padding: 1.2rem 1.4rem;
            background: var(--light-bg);
            font-size: 1.6rem;
            color: var(--light-color);
            margin:.7rem 0;
        }

        .flex{
            display:flex;
            align-items: center;
            gap: .5rem;
            padding-top: 1.5rem;
            padding-bottom: 1rem;


           label{
            font-size: 1.5rem;
            color: var(--light-color);
            cursor: pointer;
           }

           
           a{
            font-size: 1.5rem;
            color: var(--light-color);
            margin-left: auto;

            &:hover{
                color:var(--yellow);
                text-decoration: underline;
            }
           }


        }

        .btn{
            width:100%;
        }
        p{
            font-size: 1.5rem;
            padding-top: 1rem;
            color: var(--light-color);
            line-height: 1.5;
               a{
                color:var(--yellow);
               }   
               &:hover{
                text-decoration: underline;
               }     
        }
    }
}



.contact-info{
    position: fixed;
    top:0;
    right: 0;
    width: 35rem;
    background: var(--white);
    height:100%;
    text-align: center;
    z-index: 1100;
    padding:0 2rem;
    padding-top: 5rem;
    display:none;

    &.active{
        box-shadow: 0 0 0 100vw rgba(0,0,0,.7);
        display:block;
    }


    #close-contact-info{
        position:absolute;
        top: 1rem;
        right: 1.5rem;
        cursor: pointer;
        font-size: 4rem;
        color:var(--black);


        &:hover{
            transform:rotate(90deg);
        }
    }

    .info{
        padding:2rem 0;
        i{
            margin-bottom: .5rem;
            height: 5rem;
            width: 5rem;
            line-height: 5rem;
            font-size: 2rem;
            background: var(--light-bg);
            color: var(--black);
            cursor:pointer;
            text-align: center;
        
        
            &:hover{
                background: var(--black);
                color: var(--white);
            }

        }
        h3{
           font-size: 2rem;
           padding: 1rem 0; 
           color: var(--black);
           text-transform: capitalize;
        }
        p{
            font-size: 1.5rem;
            color: var(--light-color);
            line-height: 1.5;

        }
          p a{
            color:var(--light-color);
        }
        p a:hover{
            color:var(--yellow);
        }
    }
   
    .share{
        padding-top: 2rem;
        border-top: var(--border);
        margin-top: 1rem;

        a{

            margin:0 .3rem;
            height: 5rem;
            width: 5rem;
            line-height: 5rem;
            font-size: 2rem;
            background: var(--light-bg);
            color: var(--black);
            cursor:pointer;
            text-align: center;
        
        
            &:hover{
                background: var(--black);
                color: var(--white);
            }
        }
    }
   

}



.home{
    padding:0;
   
    .slide{
        min-height: 60rem;
        display: flex;
        align-items: center;
        position: relative;
        background-size: cover !important;
        background-position: center !important;

        &::before{
            content:'';
            position: absolute;
            top:0; left:0;
            height: 100%;
            width: 100%;
            background: linear-gradient(90deg,--white),transparent;
        }
         
        .content{
            width: 100%;
            position:relative;

            h3{
                text-transform: uppercase;
                font-size: 6rem;
                color: white;
                text-shadow: 0 0 10px rgba(7, 7, 7, 0.8);
                text-transform: capitalize;
                 text-align: center;
                justify-content: center;

            }
            p{
                font-size: 3rem;
                padding: 1rem 0;
                line-height: 2;
                color: var(--black);
                text-shadow: 0 0 10px rgba(5, 0, 0, 0.8);
                line-height: 1.5;

            }
        }

    }

    .swiper-button-next,
    .swiper-button-prev{
         top: initial;
         bottom:0;
         left: initial;
         right:0;
         height:7rem;
         width:7rem;
         line-height: 7rem;
         background:var(--white);

         &:hover{
            background: var(--yellow);
         }
    }

    .swiper-button-next::after,
    .swiper-button-prev::after{
        font-size: 2rem;
        color:var(--black);
    }


    .swiper-button-prev{
        right:7rem;
    }
}


.about{

    .row{
        display:flex;
        align-items: center;
        flex-wrap: wrap;
        gap:3rem;

        .video{
            flex: 1 1 41rem;
        }

        video,img{
            width:100%;
        }
          
        .content{
            flex:1 1 41rem;

            h3{
                font-size: 4rem;
                color: var(--black);
                text-transform: capitalize;

            }

            p{
                font-size: 1.5rem;
                padding:1rem 0;
                color: var(--light-color);
                line-height: 1.5;
            }
        }
    }

    .box-container____container{
        margin-top: 3rem;
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
        gap: 2rem;
        align-items: flex-end;
        

        .box{
            text-align: center;
            background: var(--light-bg);
            padding: 3rem 2rem;
            height: 43vh;
            border-radius: 0 40px 0 40px;
            overflow:hidden;

            h3{
                font-size: 4rem;
                color: var(--black);
                text-transform: capitalize;
            }
            p{
                font-size: 1.5rem;
                color: var(--light-color);
                line-height: 1.5;
                padding-top: .5rem;
            }
        }
    }
}




.services{
    background: var(--light-bg);

    .box-container____container{
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        gap: 2rem;

        .box{
            text-align: center;
            padding:3rem;
            background: var(--white);
            box-shadow: var(--box-shadow);
            border:var(--border);
           


            &:hover img{
                transform: translateY(-1rem);
             
            }

            img{
                height:7rem;
                margin-bottom: .5rem;
                transition:.2s linear;
            
            }

            h3{
                padding: 1rem 0;
                font-size: 1.7rem;
                color: var(--black);
                text-transform: capitalize;
            }
            p{
                font-size: 1.4rem;
                color: var(--light-color);
                line-height: 1.5;
            }
        }
    }
}





.projects{
    background: var(--black);

    .heading{
        color:var(--white);
    }

    .box-container____container{
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        gap: 2rem;
        
       
        .box{
            cursor: initial;
        

            
            

            &:hover .image img{
                transform: scale(1.1);
                
            }
        
        .image{
            height:40rem;
            overflow:hidden;

            img{
                height:100%;
                width:100%;
                object-fit: cover;
                transition:.2s linear;
            }
        }

        .content{
            display: flex;
           /* gap: .5rem;*/
            background: var(--white);
            justify-content: space-between;

             .info{
                padding:1rem 2rem;
                h3{
                    font-size: 1.7rem;
                    color: var(--black);
                text-transform: capitalize;

                }
                p{
                    font-size: 1.5rem;
                    color: var(--light-color);
                line-height: 1.5;

                }
             }

             i{
                width: 7.5rem;
                font-size: 3rem;
                background: var(--yellow);
                color:var(--white);
                cursor: pointer;
                text-align: center;
                line-height: 7.5rem;
             }
        }
    }
}
}


.reviews{

    .slide{
        
        p{
            padding:1.5rem;
            background: var(--light-bg);
            position: relative;
            margin-bottom: 3rem;
            font-size: 1.5rem;
            color: var(--light-color);
            line-height: 1.5;
            height:15rem;
            overflow: hidden;
            

            &::before{
                content:'';
                position: absolute;
                bottom: -1rem;
                left:2rem;
                height:2rem;
                width: 2rem;
                background: var(--light-bg);
                transform:rotate(45deg);
            }
        }

        .user{
            display:flex;
            align-items: center;
            gap: 1.5rem;

            img{
                height: 7rem;
                width: 7rem;
            }

            h3{
                font-size: 2rem;
                color: var(--black);
                text-transform: capitalize;


            }
            .stars{
                padding-top: .5rem;

                i{
                    font-size: 1.4rem;
                    color: var(--yellow);
                }
            }
        }
    }
}



.pricing{
    background: var(--light-bg);

    .box-container____container{
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        gap: 2rem;
         
        .box{
            background: var(--white);
            text-align: center;
            padding:2rem;
            border: var(--border);
            box-shadow: var(--box-shadow);

            i{
                font-size: 3rem;
                height: 7rem;
                width: 7rem;
                line-height: 7rem;
                border-radius: 50%;
                margin-bottom: 2rem;
                background: var(--yellow);
                color: var(--black);
            }

            h3{
                font-size: 2rem;
                font-weight: normal;
                color: var(--black);
                text-transform: capitalize;
                

            }

            .price{
                padding: 1rem 0;
                font-size: 5rem;
                color: var(--black);
                text-transform: capitalize;

                span{
                    font-size: 2rem;
                }
                
            }
            .list{
                padding: 1rem 0;

                p{
                    padding: 1rem 0;
                    font-size: 1.4rem;
                    color: var(--light-color);
                line-height: 1.5;

                }
            }
        }
    }
}


.contact{
    background: var(--black);

    .heading{
        color:var(--white);
    }
    .row{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        .map{
            flex:1 1 41rem;
            width: 100%;
        }

        form{
            flex:1 1 41rem;
            background: var(--white);
            padding: 2rem;

            h3{
                color: var(--black);
                text-transform: capitalize;
                font-size: 2.5rem;
                
            }

            .box{
                margin: .7rem 0;
                width:100%;
                padding:1.5rem 0;
                border-bottom: var(--border);
                font-size: 1.6rem;
                color:var(--light-color);

                &:focus{
                    border-color: var(--yellow);
                }
            }

            textarea{
                height: 15rem;
                resize: none;
            }
        }
    }
}





/*courses*/

.courses{
    /*this margin top adjusts the sizes between the sections*/
    margin-top: 0rem;
    background-color: var(--color-bg2);
}
.courses__container____container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.courses h2{
    color:#032B56;
    padding-top: 2rem;
}

.courses h1{
  color:#032B56;
  padding-top: 2rem;
  text-align: center;
  font-size: 3rem;
  padding-bottom: 1rem;
  font-weight: bolder;
}

/*.tablet-course{
    visibility: hidden;
}*/

.course{
    background: #276b80;
    text-align: center;
    border:1px solid transparent;
    transition: var(--transition);
    border-radius: 0 0 31px 31px; 
    /* top-right, bottom-right, top-left, bottom-left */
}
.course:hover{
    /*background: transparent;*/
    border-color: var(--color-primary);
    transform: scale(1.04);
}

.course__info{
    padding: 2rem;
}

.course__info p{
    margin: 1.2rem 0 2rem;
    font-size: 0.9rem;
    color: #E6EAEF;
}






/*footer starts*/
footer{
    background: var(--black);
    padding-top: 5rem;
    font-size: 1.5rem;
    
    align-items: center;

}

.footer h3{
   color:var(--yellow);
   font-weight:bold;
   font-size: 2rem;
}

.footer p,a{
  color:white;
}


.footer__container{
    margin-left: 2rem;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
}

.footer__container > div h3{
    margin-bottom: 1.2rem;
}
.footer__1 p{
    margin: 0 0 2rem;
    font-size: 1.6rem;
    padding:1rem;
}
.footer__4 p:hover,
.footer__4 p a:hover{
   color:var(--yellow);
}
 footer ul li{
    margin-bottom: 0.7rem;
    text-decoration: none;
    list-style: none !important;
 }

 footer ul li a:hover{
    color:var(--yellow);
 }

 .footer__socials{
    display: flex;
    gap:1rem;
    font-size: 1.8rem;
    margin-top: 2rem;

 }
 .footer__copyright{
    color: white;
    font-size: 1.7rem;
    text-align: center;
    margin-top: 4rem;
    padding: 1.2rem 0;
    border-top: 1px solid var(--yellow);
 }



/*footer ends*/























/*media queries*/

@media (max-width:1200px) {
    .container____container{
        width: var(--container____container-width-md);
    }
    h1{
        font-size: 2.2rem;
    }
    h2{
        font-size: 1.7rem;
    }
    h3{
        font-size: 1.4rem;
    }
    h4{
        font-size: 1.2rem;
    }

    .header{
        padding: 1.5rem 2rem;
    }
    section{
        padding:3rem 5%;
    }

    .footer__container{
        display:grid;
        grid-template-columns: repeat(2,1fr);
       
    }
    

  
}






@media (max-width:991px) {
    html{
        font-size: 55%;

    }

    /*courses*/

.course{
    margin-top: 0;
}
.courses__container____container{
    grid-template-columns: 1fr 1fr;
   
}

    section{
        padding:3rem 2rem;
    }

    .header{
        #menu-btn{
            display:inline-block;
        }

        .navbar{
            position:absolute;
            top:99%;
            left:0;
            right:0;
            background: var(--white);
            border-top: var(--border);
            border-bottom: var(--border);
            clip-path: polygon(0 0,100% 0,100% 0,0 0);
            transition:.2s linear;


            &.active{
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }


            a{
                display: block;
                margin: 2rem;
            }
        }
    }
 
}


@media (max-width:768px) {
    .container____container{
        width: var(--container____container-width-sm);
    }

    .header{
        .search-form{
            width:90%;
        }
        .login-form{
            width:90%;
        }
    }

    .home .slide{
        justify-content: center;

    }
    .content{
        text-align: center;
    }
    h3{
        font-size: 1.4rem;
    }

    .services{
        .box-container____container{
            .box{
                img{
                    width:100%;
                    height:fit-content;
                }
            }
        }
    }

    .footer__container{
        display:grid;
        grid-template-columns: repeat(1,1fr);
        text-align: center;
        justify-content: center;
       
    }

    .footer__4 .footer__socials{
        text-align: center;
        justify-content: center;
    }

}


@media (max-width:450px) {
    html{
        font-size: 50%;
    }

}






